<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Image ELO Ranker: An open-source tool for efficient image ranking, aesthetic choices, and generating training data for deep learning models.">
    <meta name="keywords" content="image ranking, ELO system, open-source, decision making, deep learning, training data">
    <meta name="author" content="Quentin Wach">
    <meta property="og:title" content="Image ELO Ranker - Make Better Decisions">
    <meta property="og:description" content="Efficiently rank images, make aesthetic choices, and generate training data for deep learning models with this open-source tool.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://your-website-url.com">
    <meta property="og:image" content="https://your-website-url.com/path-to-your-logo.png">
    <title>Image Ranker</title>
    <link rel="stylesheet" href="../Statis/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-rounded {
        font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
        }
    </style>
   
</head>
<body>
    <div class="container">
        <!-- IMAGE COMPARISON -->
        <div class="image-comparison">
            <div class="images">
                <img id="image1" src="" alt="Image 1">
                <img id="image2" src="" alt="Image 2">
            </div>
            <div class="image-names">
                <span id="image1-name"></span>
                <span id="image2-name"></span>
            </div>
            <div class="buttons">
                <div class="button-group">
                    <div class="action-buttons">
                        <button id="image1-btn" onclick="selectWinner('image1')">Image 1 is better</button>
                    </div>
                </div>
                <div class="button-group">
                    <div class="action-buttons">
                        <button id="noOption-btn">No option </button>
                    </div>
                </div>
                <div class="button-group">
                    <div class="action-buttons">
                        <button id="image2-btn" onclick="selectWinner('image2')">Image 2 is better </button>
                    </div>
                </div>
            </div>
            <div class="counter" style=" align-items: center; justify-content: center; gap: 10px; font-size: 1.2em;">
                <button class="paginate left" style="border: none; font-size: 1.5em; cursor: pointer; padding: 5px;">
                    ❮
                </button>
                <span class="Page" style="padding: 0 5px;">2</span>
                <span style="padding: 0 5px;">From</span>
                <span class="TotalPage" style="padding: 0 5px;">5</span>
                <button class="paginate right" style="border: none; font-size: 1.5em; cursor: pointer; padding: 5px;">
                    ❯
                </button>
            </div>          
        </div>
    
  
   <script src="index.js"></script>
</body>
</html>